@font-face {
    font-family: 'Trade Gothic';
    src: local('Trade Gothic'), url(../fonts/TradeGothicLTBold.ttf) format('truetype');
  }

form {
    padding-top: 0.4em;
}

body {
    background-color: #f1f1f1;;
}

.ui.grid {
    padding-top: 0.5em !important;
}

.ui.huge.header {
    padding: 10px;
}

.ui.header+p {
    padding: 10px 5px 20px 10px;
    max-width: 95vw;
    word-break: break-word;
}

.ui.container {
    padding: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100% !important;
}

.ui.row {
    padding-top: 0px !important;
}

.ui.grid.tablet.computer.only {
    margin: 0px !important;
}

.ui.segment {
    margin-right: 2em;
}

.four.wide.mobile.column {
    padding-left: 4em;
}


i.fa.fa-2x.fa-user-circle-o {
    float: right;
    padding-top: 0.3em;
    padding-right: 1em;
}

i.fa.fa-2x.fa-youtube-play {
    padding-top: 6px;
}

.searchcontainer {
    margin: 0px !important;
    background-color: white;
}

.youtube {
    color: black;
    font-family: Trade Gothic LT Bold;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.1px;
    padding-left: 3px;
}




