@font-face {
  font-family: "Trade Gothic";
  src: local("Trade Gothic"),
    url(../fonts/TradeGothicLTBold.ttf) format("truetype");
}

body {
  background-color: #f1f1f1;
}

h4 {
  padding-top: 1rem !important;
  text-align: center;
}

.ui.grid.mobile.only {
  margin-right: 0px;
  margin-left: 0px;
}

.ui.segment.centered.grid.mobile.tablet.only {
  padding: 5px;
}

.ui.segment.centered.grid.tablet.only {
  padding: 20px;
}

.ui.header + p {
  padding: 10px 20px;
  word-break: break-word;
}

.ui.container {
  padding: 0px !important;
  width: 100% !important;
}

.ui.grid.tablet.computer.only {
  margin: 0px !important;
}

.searchcontainer {
  background-color: white;
  align-items: center;
}

.youtube {
  color: black;
  font-family: Trade Gothic LT Bold;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.1px;
  padding-left: 3px;
}

.video-content {
  padding-top: 10px;
  padding-bottom: 3rem;
}

.fa-youtube-play {
  margin-left: 25px;
}

.align {
  align-items: center !important;
}

@media only screen and (max-width: 1200px) {
  .video-content {
    padding-top: 10px;
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  .ui.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .video-content {
    padding-top: 10px;
    padding-bottom: 1rem;
  }
}
